//import this file in an scss file to inherit basic SASS variable declarations

//fonts
$fontFamily: "Helvetica Neue", sans-serif;

//colors
$img-bg-color: #EFEFEF;
$light-gray: #ECECEC;
$med-light-gray: #F9FAFB;
$med-gray: #999;
$dark-gray: #383D48;
$highlight-blue: #24C7FF;
$default-blue: #0055FF;

//white space
$gutter: 20px;
